<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Lista de Tareas </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ng-container *ngFor="let item of task; let in=index">
    <ion-card>
      <ion-row>
        <ion-card-header>
          <ion-card-title>{{item.titulo}}</ion-card-title>
          <ion-card-subtitle>
            Fecha Inicio: <br />{{item.fechaIni}}</ion-card-subtitle
          >
          <ion-card-subtitle>
            Fecha Termino: <br />{{item.fechaFin}}</ion-card-subtitle
          >
          <ion-card-subtitle> {{item.tarea}}</ion-card-subtitle>
        </ion-card-header>
      </ion-row>
      <ion-button
        fill="clear"
        title="Marcar como completo"
        (click)="saveComplete(item.id,item.titulo,item.fechaIni,item.fechaFin,item.tarea)"
        ><ion-icon name="checkbox-outline"></ion-icon
      ></ion-button>
      <ion-button (click)="removeTask(item.id)"
        ><ion-icon name="trash-outline"></ion-icon
      ></ion-button>
    </ion-card>
  </ng-container>
</ion-content>
