<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Nueva Tarea</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <form [formGroup]="myForm">
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Titulo</ion-label>
            <ion-input formControlName="titulo"></ion-input>
          </ion-item>
          <div>
            <ng-container
              *ngFor="let validation of validationMessages['titulo']"
            >
              <div
                class="errormessage"
                *ngIf="myForm.get('titulo').hasError(validation.type) && (myForm.get('titulo').dirty || myForm.get('titulo').touched)"
              >
                {{ validation.message }}
              </div>
            </ng-container>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-datetime
              min="2022-03-01T00:00:00"
              formControlName="fechaIni"
            ></ion-datetime>
          </ion-item>
          <div>
            <ng-container
              *ngFor="let validation of validationMessages['fechaIni']"
            >
              <div
                class="errormessage"
                *ngIf="myForm.get('fechaIni').hasError(validation.type) && (myForm.get('fechaIni').dirty || myForm.get('fechaIni').touched)"
              >
                {{ validation.message }}
              </div>
            </ng-container>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-datetime
              min="2022-03-01"
              formControlName="fechaFin"
            ></ion-datetime>
          </ion-item>
          <div>
            <ng-container
              *ngFor="let validation of validationMessages['fechaFin']"
            >
              <div
                class="errormessage"
                *ngIf="myForm.get('fechaFin').hasError(validation.type) && (myForm.get('fechaFin').dirty || myForm.get('fechaFin').touched)"
              >
                {{ validation.message }}
              </div>
            </ng-container>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating" type="url"
              >Descripcion Tarea</ion-label
            >
            <ion-input formControlName="tarea"></ion-input>
          </ion-item>
          <div>
            <ng-container
              *ngFor="let validation of validationMessages['tarea']"
            >
              <div
                class="errormessage"
                *ngIf="myForm.get('tarea').hasError(validation.type) && (myForm.get('tarea').dirty || myForm.get('tarea').touched)"
              >
                {{ validation.message }}
              </div>
            </ng-container>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-button
            color="success"
            (click)="saveProduct()"
            expand="block"
            shape="round"
            [disabled]="!myForm.valid"
          >
            <ion-icon name="checkmark-outline"></ion-icon>&nbsp;
            <ion-label class="txtWhite">Guardar</ion-label>
          </ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
</ion-content>
